<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=diary.date%>></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
        function show(){
            var html=document.getElementById('diaryContent').innerText;
            document.getElementById('diaryContent1').innerHTML=html;
        }
    </script>
    <style>
        .font-face{
            font-family: "汉仪平安行简";
            font-weight: bold;
        }
    </style>
    <script>
        $(document).ready(function(){
            $('#toggle').click(function(){
                $(body).toggleClass('font-face');
            })
        })
    </script>
</head>
<body background="/<%=imageURL%>" style="background-size: cover" onload="show()" id="body" >
<div class="container" style="padding-top: 30px" >
    <h4 id="toggle"><b>戳我切换字体~</b></h4>
    <nav class="navbar navbar-default" role="navigation" style="background-color: transparent;font-size: 25px">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">日记信息~</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse" style="background-color: transparent;font-size: 30px">
            <ul class="nav navbar-nav">
                <li><a href="#">日期：<%=diary.date%></a></li>
                <li><a href="#">天气：<%=diary.weather%></a></li>
                <li><a href="#">谁写哒：<%=diary.publisherName%></a></li>
            </ul>
        </div>
    </nav>

    <div id="diaryContent" hidden="true">
        <%=diary.content%>
    </div>
    <div id="diaryContent1" style="font-size: 25px">

    </div>
    <div style="margin-top: 20px;padding-top: 20px;border-top: 1px solid #EEEEEE">
        <p>&copy; 2015 Minghui Zhao</p>
    </div>
</div>
</body>
</html>